* {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    height: 100vh;
}


#navbar{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: baseline;
}

#navbar .left{
    display: flex;
    justify-items: left;
}
#navbar .right{
    display: flex;
    justify-items: right;
}

.navbar-item{
    color: rgb(3, 44, 82);
    font-size: 35px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 10px 25px;
    text-decoration: none;
}
.navbar-item.title{
    font-size: 50px;
    font-weight: bold;
}

#slider{
    position: relative;
    top: 70vh;
    display: flex;
    justify-content: center;
    gap: 1vw;
}

#background{
    position: absolute;
    z-index: -1;
    width: 100vw;
    height: 100%;
}

